body{
    background-color:  hsl(0, 0%, 86%);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#start{
    position: relative;
    padding: 60px 0px;

}

#start::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-image: url(images/header02.jpg);
    opacity: 40%;
}

#menu{
    position: absolute;
}

#menu, #menu div{
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu img{
    width: 230px;
    position: relative;
    margin-left: 15px;
    margin-top: -35px;
}

#menu span img{
    width: 30px;
    margin-bottom: -8px;
    margin-right: -20px;
    border-radius: 18px;
    border: 2px solid rgb(44, 44, 44);
}


main{
    margin-top: 100px;
}

.card{
    padding: 20px;
    margin: 40px 20px;
    margin-left: 35%;
    width: 25%;
    line-height: 30px;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(192, 192, 192);
    color:  rgb(44, 44, 44);
    box-shadow: 0 5px 10px #888888;
}

.card h2, .titulo-perfil, .card caption{
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.card input[type=email], .card input[type=password]{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
}

.card input[type=email]:focus, .card input[type=password]:focus{
    outline: 0;
    border-bottom: 2px solid #9c0606;
}

.card input[type=email]::placeholder{
    padding: 5px;
}

.card .title{
    font-weight: bold;
    font-size: 15px;
}
.card label{
    font-size: 13px;
}

.card small{
    font-size: 12px;
}

.card form .link {
    text-align: center !important;
}

.card form .link a {
    text-decoration: none;
    color: #580f0f;
    font-size: 13px;
}

.card button{
    color: #FFF;
    padding: 10px 20px;
    background-color: #9c0606;
    position: relative;
    width: 100%;
    margin-top: 20px;
    border: none !important;
    border-radius: 4px;
}

.card button:hover{
    background-color: #b61f1f;
}
footer{
    padding: 40px 0px;
    position: relative;
}


footer::before{
    content: "";
    padding: 40px 0px;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-image: url(images/header02.jpg);
    opacity: 35%;
}


footer small{
    text-align: center;
    font-weight: 700;
    margin-top: -10px;
    margin-left: 27%;
    position: absolute;
    font-size: 18px;
}