
body{
    background-color:  hsl(0, 0%, 86%);
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
}

#start{
    position: relative;
    padding: 60px 0px;

}

#start::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-image: url(../images/header02.jpg);
    opacity: 40%;
}

#menu{
    position: absolute;
}

#menu, #menu div{
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu img{
    width: 230px;
    position: relative;
    margin-left: 120px;
    margin-top: -35px !important;
}

#menu span img{
    width: 30px;
    margin-bottom: -8px;
    margin-right: -20px;
    border-radius: 18px;
    border: 2px solid rgb(44, 44, 44);
}

main{
    margin-top: 100px;
}

#instruction p{
    text-align: center;
    font-size: 15px;
    width: 360px;
    margin: 40px auto;
    padding: 80px 0px;
}

#instruction p b{
    color: #9c0606;
    font-size: 20px;
}

.invisible{
    display: none;
}

#welcome{
    padding: 0px 60px 20px;
}

#welcome .titulo-perfil{
    color: #9c0606;
    font-size: 40px;
}

#menu-button{
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    border: none;
    margin-top: -125px;
    position: absolute;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

#menu-list{
    background-color: #9c0606;
    color: #fff !important;
    text-decoration: none;
    width: 250px;
    height: 325px;
    position: absolute;
    margin-top: -100px;
}

#menu-list p{
    margin-left: 20px;
    font-weight: bold;
    padding-top: 20px;
    font-size: 20px;
}

#menu-list #vertical-list .item-list{
    display: inline;
    position: relative;
    margin-right: 25px;
    font-size: 20px;
}

#menu-list #vertical-list .item-list:hover{
    font-weight: 500;
}

#menu-list #vertical-list .item-list a{
    text-decoration: none;
    outline: 0;
}

#menu-list #vertical-list{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.item-list, .item-list a{
    color: #fff !important;
    text-decoration: none;
}

.item-list:hover .tipos-perfil{
    visibility: visible !important;
}
/* 
.tipos-perfil{
    margin-top: 1px !important;
    visibility: hidden;
    position: absolute;
    justify-content: space-around !important;
    flex-direction: column;
    text-align: left !important;
    margin-left: 343px;
    font-size: 20px;
} */

.tipos-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.tipos-perfil .itens-perfil{
    text-decoration: none;
    color: #fff !important;
    background-color: #9c0606;
    /* border: none;
    padding: 5px; */
    text-align: left;
    font-size: 20px;
    /* font-weight: bold; */
    width: 173px;
}

.tipos-perfil .itens-perfil:hover{
    background-color: #888888;
}

.section{
    margin: 50px 0;
}

.section img{
    /* width: 60% !important; */
    width: 100% ;
    height: 30% !important;
    /* margin-left: 20%; */
}

.sobre-perfil{
    text-align: justify;
    line-height: 25px;
    margin: 10px;
    font-size: 17px;
}

.dica{
    text-align: center;
    margin: 30px 0px;
    font-weight: bold;
    font-size: 25px;
}

.dica span{
    color: #9c0606;
}

#actions{
    width: 50px !important;
}

.card{
    padding: 20px;
    margin: 40px auto;
    /* margin-left: 35%; */
    width: 73%;
    line-height: 30px;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(192, 192, 192);
    color:  rgb(44, 44, 44);
    box-shadow: 0 5px 10px #888888;
}
.listar{
    /* width: 90% !important; */
    width: 85% !important;
}

table{
    width: 100%;
}

.division{
    width: 100%;
    height: 5px;
    border-bottom: 1px solid #888888;
}

#all-list{
    color:  rgb(44, 44, 44);
    margin: 40px auto;
    margin-left: 14px;
}

#filter select{
    outline: 0;
    margin-left: 20px;
    width: 65%  !important;
}

#filter button{
    width: 25% !important;
}

.warning{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40px;
    font-size: 12px;
    font-weight:500;
}

.titulo-perfil{
    margin-left: 10px;
}

#all-list, .card h2, .titulo-perfil, .card caption{
    border-bottom: 1px solid rgb(192, 192, 192);
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

.card input[type=email], 
.card input[type=password], 
.card input[type=text], 
.card #poderes, 
#filter select{
    width: 97%;
    padding: 10px 0px;
    padding-left: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    margin-bottom: 10px;
}

.card input[type=email]:focus, 
.card input[type=password]:focus, 
.card input[type=text]:focus, 
.card #poderes:focus{
    outline: 0;
    border-bottom: 2px solid #9c0606;
}

.card input[type=email]::placeholder{
    padding: 5px;
}

.card .vertical-flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card #poderes{
    width: 96% !important;
    padding: 5px;
}

.card .title{
    font-weight: bold;
    font-size: 15px;
    margin-top: 100px;
}
.card label{
    font-size: 13px;
}

.card small{
    font-size: 12px;
}

.card form .link {
    text-align: center !important;
}

.card form .link a {
    text-decoration: none;
    color: #580f0f;
    font-size: 13px;
}

.card form .link a:hover{
    text-decoration: underline;
}
.card button, #filter button{
    color: #FFF;
    padding: 10px 20px;
    background-color: #9c0606;
    position: relative;
    width: 100%;
    margin-top: 20px;
    border: none !important;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover, #filter button:hover{
    background-color: #b61f1f;
}

.card .botoes{
    display: flex;
    justify-content: space-between;
}

.card .botoes button{
    width: 48%;
}

.card .botoes .cancel{
    background-color: #918b8b;
}
.card .botoes .cancel:hover{
    background-color: #a5a1a1;
}

.update-btn, .delete-btn{
    width: 60px !important;
    margin: 5px !important;
}

.update-btn img, .delete-btn img{
    width: 20px;
    height: 20px;
}

footer{
    padding: 40px 0px;
    position: relative;
}


footer::before{
    content: "";
    padding: 40px 0px;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-image: url(../images/header02.jpg);
    opacity: 35%;
}


footer small{
    text-align: center;
    font-weight: 700;
    margin-top: -5px;
    margin-left: 50px;
    position: absolute;
    font-size: 18px;
}